@import "tailwindcss";

:root {
  direction: rtl; /* For right-to-left languages like Arabic or Hebrew */
  /* writing-mode: vertical-rl; */ /* Use this for vertical text flow if needed */
}
body {
    font-family: 'NRT-Bd', Arial, sans-serif;
}

main {
    font-family: 'NRT-Reg', Arial, sans-serif !important;
}